.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    position:fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    right:0;
    background-color: rgb(26, 23, 23);
    font-family: roboto,arial;
    z-index:100;
}

.left_section {
    display: flex;
    align-items: center;
    padding-left: 30px;
   
}

.company_logo {
    height: 30px;
    border-radius: 15px;
}

.company_title {
    color: whitesmoke;
    padding-left: 8px;
}
.right_section {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink:0;
}

.discord_logo,.linkedin_logo,.instagram_logo,.youtube_logo,.facebook_logo,.link_home,.link_about,.link_news,.link_game
{
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

.link_news {
    margin-right: 50px;
}

.link_home,.link_game,.link_about,.link_news {
    color: white;
    text-decoration: none;
}







